*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.container{
    background-color: cornflowerblue;
    width: 400px;
    height: auto;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    
}
form{
    display: grid;
    gap: 1.6em;
    width: 90%;
    padding:1em;
}
label{
    font-size: 1.5rem;
    
}
div{
    display: grid;
}
input[type="text"]{
    height: 2em;
    width: 100%;
    border-radius: .5rem ;
    border: none;
    outline: none;
    text-transform: uppercase;
    padding-inline: 0.5rem;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input[type="number"]{
    width: 2rem;
    height: 2em;
    border-radius: 0.5rem;
    border: none;
    -moz-appearance: textfield;
    appearance: textfield;
    outline: none;
    text-align: center;
}